<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-title-large">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-title-large">Nome: </span><span class="mat-title-small">Fulano da Silva</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-title-large">Email: </span><span class="mat-title-small">{{ 'lucas@gmail.com' }}</span>
        </mat-list-item>          
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-title-large">Telefone: </span><span class="mat-title-small">(85) 9 9941-1992</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-title-large">Endereço: </span><span class="mat-title-small">Rua João Fechine, 214, Milagres - CE</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-title-large">Ativo: </span><span class="mat-title-small">Ativo</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-title-large">Função: </span><span class="mat-title-small">Desenvolvedor</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-title-large">Data de cadastro: </span><span class="mat-title-small">05/07/2025</span>
        </mat-list-item>
    </mat-list>
</div>

